/*GENERAL SETTINGS*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 20px;
}

body {
  min-height: 100vh;
  background-image: url('../images/background.jpg');


}
/* SECTION clickArea*/
div.cookie{
  background-image: url('../images/cookie.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 3rem;
  height: 350px;
  width: 350px;

}
div.cookie:hover {
  transform: scale(1.2);
  transition: transform .25 easy;
  cursor: pointer;
}

div.cookie:active {
  border: 5px solid transparent;
}
.dropArea .row .col-12 {
  display: flex;
  justify-content: center;
}
h1 {
  text-align: center;
  color: white;
  font-family: Slabo;
}
h2 {

  color: white;
  font-family: Slabo;
  font-size: 1rem;
  line-height: 50px;
}

.container:nth-child(2) {
  border-bottom: 2px solid black;

}
/*SECTION infroArea*/

.makers {
  font-size: 20px;
  line-height: 40px;
}
#infoArea button {
  height: 100%;
  width:100%;
  border: 1px solid rgb(23, 46, 51);
}

.cost {
  font-size: 1.5rem;
  line-height: 50px;
}
.score {
  text-align: center;
  font-size: 40px;
}
.amount, .productivity {
  color: white;
}
